:root {
  --spacer: 15px;
  --half-spacer: calc(var(--spacer) / 2);

  --c-base-900: #141414;
  --c-base-800: #282828;
  --c-base-600: #555555;
  --c-base-400: #909090;
  --c-base-300: #b0b0b0;
  --c-base-200: #cccccc;
  --c-base-000: #ffffff;

  --c-primary-900: #ff5500;
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  min-height: 0;
}

main {
  display: flex;
  flex-direction: column;
  padding: var(--spacer);
  gap: var(--spacer);
  background-color: var(--c-base-900);
  color: var(--c-base-300);
  overflow-y: auto;
}

main > .centered {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--spacer) * 2);
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--half-spacer) var(--spacer);
  gap: var(--spacer);
  background-color: var(--c-base-800);
}

a,
a:visited {
  color: var(--c-base-300);
  text-decoration: underline;
}

nav a,
nav a:visited {
  color: var(--c-base-300);
  text-decoration: none;
}

a:hover,
nav a:hover,
nav a.active {
  color: var(--c-primary-900);
}

nav a.active {
  text-decoration: underline;
}

main h1:first-child {
  margin-top: 0;
}

pre {
  margin: 0;
  padding: var(--spacer);
}
