.board {
  max-width: 80vh;
  width: 100%;
  display: grid;
  justify-content: start;
}

.board > span {
  aspect-ratio: 1 / 1;
  border: 1px solid var(--c-base-400);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 6vw;
}

.board > span:focus-within {
  border-color: var(--c-primary-900);
}

.board > span.row-start {
  border-top: none;
}

.board > span.row-end {
  border-bottom: none;
}

.board > span.col-start {
  border-left: none;
}

.board > span.col-end {
  border-right: none;
}

.board > span.ex::before {
  content: "X";
}

.board > span.oh::before {
  content: "O";
}
