.wordle {
  --c-default: #d3d6da;
  --c-correct: #6aaa64;
  --c-present: #c9b458;
  --c-absent: #787c7e;

  --c-text: var(--c-absent);
  --border: 1px solid var(--c-default);
  color: var(--c-text);
}

.wordle .separator {
  width: 100%;
  border-top: var(--border);
}

.wordle-board {
  display: grid;
  width: 100%;
  max-width: 400px;
  gap: calc(var(--spacer) / 2);
}

.guess-square {
  aspect-ratio: 1 / 1;
  border: var(--border);
  border-width: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  background-color: var(--c-default);
  border-color: var(--c-default);
  color: var(--c-base-900);
}

.wordle-keyboard {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacer) / 2);
}

.wordle-keyboard-row {
  display: flex;
  flex-direction: row;
  gap: calc(var(--spacer) / 2);
  justify-content: center;
}

.wordle-keyboard-key {
  background-color: var(--c-default);
  color: var(--c-base-900);
  border-radius: 3px;
  padding: calc(var(--spacer) / 3);
  min-width: 15px;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

.CORRECT,
.wordle-keyboard-key.CORRECT,
.guess-square.CORRECT {
  background-color: var(--c-correct);
  border-color: var(--c-correct);
}

.PRESENT,
.wordle-keyboard-key.PRESENT
.guess-square.PRESENT { 
  background-color: var(--c-present);
  border-color: var(--c-present);
}

.ABSENT,
.wordle-keyboard-key.ABSENT
.guess-square.ABSENT {
  background-color: var(--c-absent);
  border-color: var(--c-absent);
}